body{
	background: linear-gradient(to right top, #33a0f1, #2591d9, #1882c1, #0a73aa, #006494);
	background-size: cover;
	background-position: center;
}
.header {
	font-family: 'Yellowtail', cursive;
	color: white;
}
.login_div img {
	margin-top: 10px;
	border-radius: 15px;
	width: 200px;
	height:  200px;
}
sup img {
  width: 100px;
  height: 100px;
}
.login_div {
	background-color: lightsteelblue;
	margin-left: 500px;
	border-radius: 15px;
}
button {
	margin-top: 10px;
	width: 50%;
}